.alt-header {
  padding: var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt-header_column {
  width: 33%;
  margin-top: 10px;
}
.alt-header_title {
  font-size: 20px;
}
.alt-header_column:first-child {
  margin-right: auto;
}
.alt-header_column:nth-child(2) {
  text-align: center;
}
.alt-header_column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header_column i:last-child {
  margin-left: 15px;
}
